body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 6px;
  color: var(--emphasis);
  margin-bottom: 0;
}

.btn {
  display: inline;
  padding: 8px 12px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.hello {
  background-image: url(../img/background.png);
  background-position: center;
  background-size: cover;
}

.header {
  max-width: var(--maxContainer);
  width: var(--container);
  color: var(--default);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-logo {
  font-size: 2rem;
}

.header-logo span {
  color: var(--emphasis);
  font-weight: bold;
}

.header-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-menu li a {
  text-transform: uppercase;
  font-size: .8rem;
  margin: 0 15px;
  color: var(--default);
}

.header-menu li a.active {
  color: var(--primary);
}

.header-menu li a.active::before {
  content: "// ";
}

.header-menu li a.active::after {
  content: " {...}";
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search input {
  color: var(--default);
  background-color: var(--background1);
  border: 1px solid var(--primary);
  outline: none;
  padding: 5px 8px;
  border-radius: 999px;
  width: 60%;
}

.header-search img {
  margin-left: -30px;
  color: var(--primary);
  height: 22px;
  background-color: var(--background1);
  cursor: pointer;
}

.intro {
  max-width: var(--maxContainer);
  width: var(--container);
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.intro-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 500px
}

.intro-left h2 {
  color: var(--default);
  font-size: 1rem;
  margin-bottom: -30px;
  font-weight: 400;
}

.intro-left h2 span {
  color: var(--primary);
  margin: 0px 5px;
  font-weight: 600;
}

.intro-left h2 img {
  width: 34px;
  margin-bottom: -5px;
}

.intro-left p {
  color: var(--sub);
  font-size: 1.2rem;
  font-weight: 300;
}

.intro-left a {
  margin-top: 40px;
}

.intro-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 490px;
}

.intro-right img {
  width: 100%;
  height: auto;
}

.personal {
  background-color: var(--background2);
  height: 300px;
}