@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url(./mobile.css);
@import url(./geral.css);

:root {
  --maxContainer: 1140px;
  --container: 85%;

  --background1: #181818;
  --background2: #212121;

  --primary: #CECE05;
  --emphasis: #ffffff;
  --default: #dddddd;
  --sub: #aaaaaa;
  --dark: #555;
}

html {
  font-size: 14px;
}


@media (max-width: 780px) {
  .header-menu ul {
    display: none;
  }

  .menu-opener {
    display: block;
  }

  .menu-opener img {
    width: 38px;
  }
}